body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}


body {
  background: #482d81;
  height: 100vh;
}

.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 20px;
  width: 20px;
  z-index: -1;
  background-color: #5840a8;
  box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
  animation: animate 20s linear infinite;
}

.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 20px;
  height: 20px;
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 30px;
  height: 30px;
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 30px;
  height: 30px;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 20px;
  height: 20px;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

/* .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content h2 b {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 12px;
} */

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: .7;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/* Heading Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', sans-serif;
  font-weight: bolder;
}

/* Body Text Font */
p {
  font-family: Dm Sans;
}

/* fonts
DM Sans
Roboto
Poppins
Noto Sans
Ubuntu
Open Sans
Lato  */

/* Header styles */
header {
  background-color: rgba(20, 133, 208, 0.3);
  color: #fff;
  /* padding: 15px; */
  text-decoration-color: #f1f1f5;
  box-shadow: 0 0 2px #818181;
}

#brand {
  font-weight: bolder;
  color: #f1f1f5;
  font-size: 30px;
}


#hm a{
  color: rgb(60, 60, 60);
} 

#mem a {
  color: rgb(60, 60, 60);
}

#proj a {
  color: rgb(60, 60, 60);
}
#abt a {
  color: rgb(60, 60, 60);
}
#contact a {
  color: rgb(60, 60, 60);
}

.nav-item {
  color: black;
}

#nav {
  justify-content: end;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul {
 list-style-type: none;
 padding: 0 10px 0 0;
 justify-content: end;
}

nav ul li {
  margin-left: 20px;
  padding: 0 5px 0 5px;
}

/* nav ul li:first-child {
  margin-left: 0;
} */


nav ul li a {
 font-family: DM Sans;
 font-size: 20px;
 padding: 0px 5px 5px 5px;
 text-decoration: none;
 color: #fff;
}

.nav-item {
  font-weight: bold;
}

.nav-link.active {
 display: flex;
 align-items: center;
 display: inline-block;
 background: linear-gradient(to right,#a2a5e2, #364fdf, #a2a5e2);
 background-position: 50% 100%;
 background-size: 100% 4px;
 background-repeat: no-repeat;
 transition: background-size 0.5s ease-in-out;
 color: #000;
}

.nav-link.active:hover {
  background-size: 0% 2px;
}

#contact a:hover {
  color: #e8d127;
}

/* #contact a {
 color: #f1f1f5;
 font-family: DM Sans;
 font-size: 20px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
} */

/* Hero section styles */
.hero {
  height: fit-content;
  padding: 0 50px 0 50px;
  text-align: left;
  flex-direction: column;
  background: conic-gradient(from 191deg at 20% 45.65%,#a2a5e2 3.3682815358042717deg, rgba(27, 144, 253, 0.4) 90.52163600921631deg, #c0c3f9 198.74999284744263deg, rgba(27, 144, 253, 0.4) 339.3749928474426deg);
  /* background: conic-gradient(from 191deg at 20% 45.65%, rgba(20, 68, 113, 0.4) 3.3682815358042717deg, rgba(61,
    112,
    240,
    0.6) 90.52163600921631deg, #8e83c9 198.74999284744263deg, rgba(129, 127, 201, 0.6) 339.3749928474426deg);*/
    box-shadow: 0 0 1px #666565;
  }

.hero-content {
  padding-top: 50px;
  display: flex;
}

.text-container {
  flex: 1;
}

.hero h1 {
  padding-top: 20px;
  font-size: 48px;
  margin-bottom: 20px;
}

.flight {
  color: #423FE5;
}

/* .hero p {
  font-size: 24px;
  margin-bottom: 40px;
} */

.pic-container {
  justify-content: right;
}

@media (max-width: 768px) {
  .hero{
    padding: 0;
  }
  .hero-content{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .hero-content h1{
    font-size: 20px;
  }
  .text-container {
    padding: 0;
    text-align: center;
    font-size: smaller;
  }
  .pic-container {
    width: auto !important ;
    margin-left: 10px;
    padding: 0;
  }
  .socialicons{
    width: auto;
    align-content: center !important;
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
  }
}



.socialicons img {
  width: 30px;
  height: 30px;
  
}


.cta-button {
 display: inline-block;
 padding: 12px 20px;
 color: #fff;
 margin-left: 10px;
 border-radius: 7px;
 background: #423FE5;
 font-family: DM Sans;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 font-size: 18px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 text-decoration: none;
}

.hero img {
  max-width: 100%;

}

.pic-container {
  margin-top: 10px;
  justify-content:end;
  max-width: 350px;
  max-height: 500px;
  margin-left: 50px;
  box-shadow: #324b4e;
}

.typing-container {
  text-align: left;
}

#typing-text {
  display: inline-block;
  white-space:pre-wrap;
  border-right: 1px solid #000;
  /* Add a blinking cursor effect */
  /* animation: typing 5s steps(40, end), blink-caret 1s step-end infinite; */
  font-size: 24px;
  margin-bottom: 40px;

  
}

@media (max-width: 768px) {
  #typing-text{
    text-align: center;
  }
  
}

/* @keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
    from {
    width: 0;
  }

  to {
    width: 90%;
  }
} */

@keyframes blink-caret {

  from, to {
    border-color: transparent;
  }

  50% {
    border-color: #000;
  }
}

/* Bootstrap to adjust the naviagetion bar according to different sizes */
@media (max-width: 992px) {
  .hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  /* .cta-button {
    font-size: 16px;
    padding: 10px 15px;
  } */

  .pic-container {
    margin: 0;
    padding: 0;
    flex: 1;
    max-width: 600px;
    max-height: 400px;
    display: flex;
  }
}



/* About us section styles */
.About-us {
  font-size: larger;
  font-family: DM Sans;
}

/* .container {
  display: flex;
  width: 100%;
} */

.abt-text-container {
  margin-top: 40px;
  padding: 30px 50px 30px 0;
  flex: 1;
  font-family: DM Sans;
}

#abtus {
  text-align: center;
  
}

#abtpara {
 font-size: 20px;
 align-content: space-between;
 text-align: justify;
 line-height: 27px;
 word-spacing: 5px;
}

@media (max-width: 768px) {
  #abtpara {
    text-align: center;
    font-size: 15px;
    word-spacing: normal;
  }
  .abt-text-container {
    padding: 0;
  }
  #readmorebtn{

  }
}

.image-container {
  max-width: 100%;
  width: 50%;
}

.image-container img {
  height: 400px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.styled-hr {
  width: 80%;
  height: 1px;
  margin: 20px auto;
  background: linear-gradient(to right, transparent 20%, black 40%, rgb(162, 197, 226, 0.6) 60%, transparent 80%);
  border: none;
}

/* Projects section styles */
#ReasearchPrj {
 font-size: larger;
 display: flex;
 justify-content: center;
 font-family: DM Sans;
 font-size: 30px;
 text-shadow: #333;
 
}


.projects-section {
  padding: 20px 0 50px 0;
  background: rgb(162, 197, 226, 0.6);
  box-shadow: 2px 0 2px #818181;
}

.card {
 margin: 25px;
 border-radius: 15px;
 background-color: #4d9ca0;
 background: rgba(135, 223, 208, 0.5);
 box-shadow: 16px 14px 10px 0px rgba(0, 0, 0, 0.25);
 text-align: center;
 align-items: center;
 justify-content: center;
 border-radius: 15px;
 transition: transform 0.6s ease-in-out, background-color 0.5s ease-in-out, font-size 0.3s ease-in-out, color 0.3s;
}

.card:hover {
  background-color: rgb(84, 133, 135);
  transform: translateY(-5px);
  font-size: larger;
  color: white; 
}

.card-img-top {
  background-color: white;
  /* justify-content: center;
  align-items: center; */
  border-radius: 50%;
  padding: 5px 20px 0 20px;
  /* height: 60%; */
  object-fit: cover;
}


.cta-text {
  font-size: 15px;
  text-decoration: none;
  text-shadow: 10px #f1f1f5;
}


.card-img-top{
  /* size: 50px; */
  width: 100%;
  padding: 0 3px 0 3px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 100px;
}

.card h5 {
  font-size: 20px;
  margin-bottom: 5px;
  text-shadow: 2px #333;
}

.card-title{
  font-weight: bolder;
}

.card p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 25px;
  /* text-align: center; */
}

.cta-text {
 font-size: 15px;
 text-decoration: none;
 color: #333;
 font-weight: bold;
 cursor: pointer;
 margin-top: 5px;
 text-shadow: #333;
}

.card {
  /* Your existing card styles here */
  position: relative;
}

.cta-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* Center the link text */
}


/* Footer styles */
footer {
  background-color: #507074;
  color: #fff;
}

/* .container {
  display: flex;
  width: 100%;
}  */

.logofoot {
  text-align: center;
}

/* #logo {
  text-align: left;
} */

#logo p {
  line-height: 30px;
  padding: 10px 0 0 0;

}

#support {
  text-align: center;
}

#support h1{
  padding-bottom: 7px;
}

#support p{
  line-height: 25px;
}

#contactus .social-icons {
  margin-left: 10px;
}

#contactus .contacticons a {
  color: #fff;
  margin: 0 10px;
  padding: 0 10px 20px 0;
  font-size: 17px;
  font-family: DM Sans;
  font-weight: normal;
  font-style: normal;
}

.social-icons a {
  color: #fff;
  margin: 0 4px 0 4px;
  font-size: 20px;
  padding-left: 5px;
}
